body {
  font-family: Helvetica, Sans-Serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  margin: 0 0;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: black;
}
footer img {
  padding: 10px 10px;
  height: 50px;
}
footer nav {
  text-align: right;
  flex-grow: 1;
}
footer nav span {
  display: inline-block;
  padding: 20px 10px;
}
.main {
  width: 1200px;
  padding-top: 69px;
  opacity: 0.9;
  margin: auto auto;
}
#mission {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 70px;
}
.content {
  margin: auto 0px;
  background-color: black;
  width: 100%;
}
h2,
h3,
h4,
h5 {
  font-weight: bold;
  display: block;
}
#store {
  margin: auto;
  width: 1000px;
  padding-top: 70px;
  height: 700px;
}
.item img {
  height: 200px;
  width: 300px;
  display: block;
  margin: 10px;
}
#store .item {
  margin: 5px;
}
.item h4 {
  margin: 0;
}
a {
  color: seashell;
  text-decoration: underline;
}
#locations {
  width: 1200px;
  height: 500px;
  padding-top: 70px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  margin: auto;
}
#locations .flex-container {
  margin: auto;
}
.location {
  opacity: 1.0;
  width: 300px;
  margin: 15px 20px;
  background-color: black;
}
#contact-info {
  height: 200px;
}
.company-name {
  margin: 10px;
  padding-bottom: 20px;
}
.contacts {
  margin: 0;
  padding: 20px 0;
}
footer {
  text-align: left;
  padding-left: 20px;
}
div {
  display: block;
}